.main-content {
  padding: 2em 1em;
}

.about {
  padding-top: 99px;
  max-width: 1000px;
  margin: auto;
}

.position-fixed {
  width: 100%;
  position: fixed;
  z-index: 2;
}

img, .image {
  position: relative;
  width: 100%;
}
section {
  /*margin-bottom: 2rem;*/
  height: 100vh;
  padding-top: 67px;
}

.right-border {
  border-right: 1px solid darkgray;
}

.left-border {
  border-left: 1px solid darkgray;
}

.content {
  /*position: relative;*/
  max-height: 80vh;
  overflow: scroll;
}